.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container > section:not(:first-child) {
  min-height: auto;
  padding: 4rem 0;
}

@media (max-width: 768px) {
  .container > section:not(:first-child) {
    padding: 2rem 0;
  }
} 