.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.main {
  flex: 1;
  width: 100%;
  margin-top: 64px;
  position: relative;
  z-index: 1;
  background-color: var(--background-color);
  min-height: calc(100vh - 64px);
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .main {
    margin-top: 64px;
    padding: 0 0.5rem;
  }
} 